<repository>
  <name>Southern Changes Digital Archive @Emory University</name>
  <adminEmail>beckctr@emory.edu</adminEmail>
  <protocolVersion>2.0</protocolVersion>
  <granularity>seconds</granularity>
  <earliestDatestamp>1970-01-01T00:00:00Z</earliestDatestamp>

  <validateOutput>false</validateOutput>

  <identifier>
    <delimiter>:</delimiter>
    <localdelimiter>/</localdelimiter>
<!-- non : delimiter between collection and local identifier
     use if you wish to prepend collection to identifier to ensure uniqueness
-->
    <recordprefix></recordprefix>
    <repositoryIdentifier>
<!-- note: this uri is also used for request script location  -->
       <uri>oai.library.emory.edu</uri>
       <collection>southernchanges</collection>
<!-- note: setting this to true will use collection name for the
     request script location instead of the actual script name and path -->
       <useCollectionAsScriptName>true</useCollectionAsScriptName>
    </repositoryIdentifier>
<!-- Note: identifiers are constructed from these components in this format:
   oai:oai.library.emory.edu:tgfw:prefixrecordid  -->
  </identifier>

  <resumption>
    <maxRecords>50</maxRecords>
    <maxIdentifiers>200</maxIdentifiers>
    <expiration>24 hours</expiration>
  </resumption>

  <xqueryFile>xquery.xml</xqueryFile>

  <!-- connection settings for xml database -->

  <connectionParameters>
    <xmldb type="exist">
      <host>wilson.library.emory.edu</host>
      <port>8080</port> 
      <database>schanges</database> 
      <collection></collection> 
      <debug>true</debug>
    </xmldb>          
  </connectionParameters>

   <sets>
    <!--set must be listed here and defined with in each metadata
	queries doc-->
<!-- revise these sts for Schanges -->

<!-- not using sets right now
    <set name="Articles" setSpec="Articles">
       <description>Articles from Southern Changes</description>

    </set>
    <set name="Reviews" setSpec="Reviews">
      <description>Reviews from Southern Changes</description>
    </set>

    <set name="Volume 1" setSpec="vol1">
       <description>Volume 1, 1978-1979</description>
    </set>
    <set name="Volume 2" setSpec="vol2">
       <description>Volume 2, 1979-1980</description>
    </set>
    <set name="Volume 3" setSpec="vol3">
       <description>Volume 3, 1980-1981</description>
    </set>
    <set name="Volume 4" setSpec="vol4">
       <description>Volume 4, 1981-1982</description>
    </set>
    <set name="Volume 5" setSpec="vol5">
       <description>Volume 5, 1983</description>
    </set>
    <set name="Volume 6" setSpec="vol6">
       <description>Volume 6, 1984</description>
    </set>
    <set name="Volume 7" setSpec="vol7">
       <description>Volume 7, 1985</description>
    </set>
    <set name="Volume 8" setSpec="vol8">
       <description>Volume 8, 1986</description>
    </set>
    <set name="Volume 9" setSpec="vol9">
       <description>Volume 9, 1987</description>
    </set>
    <set name="Volume 10" setSpec="vol10">
       <description>Volume 10, 1988</description>
    </set>
    <set name="Volume 11" setSpec="vol11">
       <description>Volume 11, 1989</description>
    </set>
    <set name="Volume 12" setSpec="vol12">
       <description>Volume 12, 1990</description>
    </set>
    <set name="Volume 13" setSpec="vol13">
       <description>Volume 13, 1991</description>
    </set>
    <set name="Volume 14" setSpec="vol14">
       <description>Volume 14, 1992</description>
    </set>
    <set name="Volume 15" setSpec="vol15">
       <description>Volume 15, 1993</description>
    </set>
    <set name="Volume 16" setSpec="vol16">
       <description>Volume 16, 1994</description>
    </set>
    <set name="Volume 17" setSpec="vol17">
       <description>Volume 17, 1995</description>
    </set>
    <set name="Volume 18" setSpec="vol18">
       <description>Volume 18, 1996</description>
    </set>
    <set name="Volume 19" setSpec="vol19">
       <description>Volume 19, 1997</description>
    </set>
    <set name="Volume 20" setSpec="vol20">
       <description>Volume 20, 1998</description>
    </set>
    <set name="Volume 21" setSpec="vol21">
       <description>Volume 21, 1999</description>
    </set>
    <set name="Volume 22" setSpec="vol22">
       <description>Volume 22, 2000</description>
    </set>
    <set name="Volume 23" setSpec="vol23">
       <description>Volume 23, 2001</description>
    </set>
    <set name="Volume 24" setSpec="vol24">
       <description>Volume 24, 2002</description>
    </set>
    <set name="Volume 25" setSpec="vol25">
       <description>Volume 25, 2003</description>
    </set> -->
  </sets>
  <metadataFormats>
    <!-- Add additional metadataFormat entries for each supported metadata format.
	 At minimum oai_dc must be supported.
    -->
    <metadataFormat name="oai_dc">
      <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>
      <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace>
      <record_prefix>dc</record_prefix>
      <recordNamespace>http://purl.org/dc/elements/1.1</recordNamespace>
      <xslt>oai_dc.xsl</xslt>
    </metadataFormat> 
    <metadataFormat name="oai_mods">
      <schema>http://www.loc.gov/standards/mods/v3/mods-3-0.xsd</schema>
      <metadataNamespace>http://www.loc.gov/mods/v3</metadataNamespace>
      <record_prefix>mods</record_prefix>
      <recordNamespace></recordNamespace>
      <xslt>oai_mods.xsl</xslt>
    </metadataFormat>            
  </metadataFormats>

</repository>
