{% extends "base.html" %}

<head>
{% block title %}Browse - Southern Changes Digital Archive{% endblock %}
{% block js %}<script language="Javascript" src="{{ STATIC_URL}}js/content-list.js"></script>{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css"
href="web/css/contents.css">{% endblock %}
</head>

{% block content %}
{% include "browse-head.html" %}
<div class="content">
<a href="{% url "topics" %}">Browse Articles by Topic</a>

<h2>Issues</h2>

{% for issue in list_1 %}
  {{issue.head}}
{% endfor %}
  
<hr>
  
<h3>1978-1984</h3>  
{% if issues %}
    <ul class="content">
    {% for issue in issues %}
        <li>
{% if issue.date %}
      {{year}}
<a href="{% url "issue_toc" issue.id %}">{{issue.head}}</a>  
{% else %} 
{{ issue.title }}
  {% endif %}
        </li>
    {% endfor %}
   </ul>
{% else %}
    <p>Nothing found.</p>
{% endif %}
 


<hr>
  
{% if issues %}
    <ul class="content">
    {% for issue in issues %}
        <li>
{% if issue.id %}
<a href="{% url "issue_toc" issue.id %}">{{issue.head}}</a>  
{% else %} 
{{ issue.title }}
  {% endif %}
        </li>
    {% endfor %}
   </ul>
{% else %}
    <p>Nothing found.</p>
{% endif %}
</div>
{% endblock %}
</body>
</html>
