@import "highlight.css";
@import "footnotes.css";
body { text-color: #333333;}
/* styles for the header and footer */
div.header, div.footer { text-align: center; width: 700px;  /*width: 665px;*/ margin: auto; }
/*div.header, div.footer { center: true; text-align: center; width: 665px; margin: auto; clear: both; }*/
/*div.header { border: 3px solid #02023a; text-align:center;} */

/* styles for main part of page */ 
a:link {color: #AD6F0A; text-decoration: none; }
a:visited {color: #AD6F0A; text-decoration:none;}

div.header h1 { font-family: "Book Antiqua", "Times",serif; 
	   font-size: 36pt; 
	   margin: -1px; 
	   line-height:120%;}

div.header h2 { font-family: "Book Antiqua", "Times",serif; 
	   font-size: 13pt; 
	   margin: -4px; 
	   line-height:120%;}
div.headerseachbox {text-align: center;
		   display: block;
	    	   width: 50%; }
p.searchbox {font-size:90%; 
	    text-align: center;
	    display: block; 
	    margin-left: auto;
	    margin-right: auto; 
	    background-color: #ffe59e; 
	    padding: 10px; }

/*p.searchbox{font-size:80%; text-align:center; margin-left:5px; background-color: #eeeeee; padding:4px; }*/

p.searchbox b {padding-right: 5px;}
p.searchbox input#go{margin-left:5px;}

div.headimage {position:static;  
	      margin-top 3em; 
	      margin-bottom: 1em; }

img.headimage {display: block;
	      text-align: center;
	      margin-left: auto; 
	      margin-right: auto;}

div.nav {font-family: "Papyrus", Book Antiqua, Times, serif; 
	font-size: 24pt;  
	text-decoration: none; 
	text-align: center;}

p.navlinks {text-align: center;		
	   margin-left: auto; 
	   margin-right: auto;
	   display: inline;}

span#ov {padding: 0 1em;}
span#br {padding: 0 1em;}
span#se {padding: 0 1em;}

div.teenimage {position: static; 
	      margin-top: 3em; 
	      margin-bottom: 3em;}
img.teenimage {display: block;
	    text-align: center;
	      margin-left: auto;
	      margin-right: auto;}

div.teensub {position: static; 
	    margin-bottom: 3em; }

img.teensub {display: block;
	    text-align: center;
	      margin-left: auto;
	      margin-right: auto;}
	    

div.subnav {font-family: "Papyrus", Book Antiqua, Times, serif;
	   font-size: 18pt; 
	   text-decoration: none; 
	   text-align: center;} 

p.navlinks {margin-left: auto; 
	   margin-right:auto;
	   display: inline;
	   text-shadow: 0.12em 0.12em 0.1em black} 

span#ho {padding: 0 1em;} 
span#ov {padding: 0 1em;} 
span#br {padding: 0 1em;} 
span#se {padding: 0 1em;}


div.content {font-family Book Antiqua, Times, serif; 
	    font-size: 12pt; 
	    text-decoration: none; 
	    text-align: left; 
	    margin-left: 2em;
	    margin-right: 2em;}

div.externalnav {text-align: center; 
		font-family: "Papyrus", Book Antiqua, Times, serif; 
		font-size: 14pt; 
		text-decoration: none;
	   	text-shadow: 0.1em 0.1em 0.1em black}

p#beck {margin-left: auto; 
       margin-bottom: 1em; 
       margin-right: auto}

/*p#src {float: right; margin-right: 25%; margin-bottom: 1em;}*/

span#bc, span#src {padding: 0 2em;}


div.foot {display:block; 
	 font-family: Times, Book Antiqua, serif; 
	 font-size: 12; 
	 text-decoration: none; 
	 text-align: center;}

p#footnav {margin-left: 2em; 
	  margin-right: 2em; }

span#con span#euc span#ul span#eu {padding: 0 1em}

hr.foot {width: 613px;}

//Styles for search matching, tables

td.count { width:15%; 
	 text-align: center; }

td.link {width:25px; 
	font-size:85%; 
	text-align:center;}

table.kwicsearchresults { width:90%; }

table.searchresults { width:90%;  
		    border-collapse: collapse; }

table.searchresults td { border-bottom: 1px solid #cccccc; }

p.kwic { margin: 5px 0.5in 5px 0.5in; 
       border-bottom: 1px solid #cccccc;}

table.kwic { margin: 5px 0.5in 5px 0.5in; 
	   border-bottom: 1px solid #cccccc;}

table.kwic td.pn { width: 65px; 
	   vertical-align: center;}

/* link results - display as horizontal list, inline, with lines between */
li.resultlink, li.firstresultlink { 
     display:inline; 
     padding-left: 7px;
     padding-right: 7px;
     border-left: 2px solid #666;
  }
/* (no left border on first item) */
li.firstresultlink { border-left: none; }
div.resultlink { float: right; padding-right: 0.5in;}

span.match { font-weight: bold; }
